@import url(styles/components.css);
@import url(styles/homepage.css);
input:focus {
    box-shadow: none;
    outline: none;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
    color: inherit;
}

a {
    color: inherit;
    text-decoration: none;
    transition: all .3s;
}

ul,
li {
    list-style: none;
}

ul {
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-bottom: 0;
}

p {
    margin-top: 0;
}

.clear-fix {
    clear: both;
}

img {
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    color: var(--primary-color-web);
}

.icon-Kito{
    display: inline-block;
    max-width: 64px;
}

.icon-Kito img, .icon-Kito svg{
    width: 100%;
}

body.overflow-hidden{
    overflow: hidden;
}

.h-100-custom{
    height: 100%;
}

:root{
    --primary-color-web: #1A1114;
    --primary-color-pink:#EC80A0;
    --primary-color-text-small: #0A1E23;
    --bg-btn-web: #E76088;
}

/*Các container và title*/
@media(min-width:1600px){
    .container{
        max-width: 1440px;
        padding:0 15px;
    }
}
@media (max-width:575px){
    .container{
        padding:0 20px;
    }
}
/* End các container*/


/*Style chung */
.title-bold-exLarge {
    color:#111827;
    font-size:24px;
    line-height:31px;
    font-weight:700;
    font-family: 'Sansita';
    text-transform: capitalize;
}
.title-bold-exBig {
    color:#111827;
    font-size:54px;
    line-height:70px;
    font-weight:700;
    text-transform: capitalize;
    font-family: 'Sansita';
}
.mb-50 {
    margin-bottom: 50px;
}
@media(max-width:575px){}
@media(min-width:576px) and (max-width:767px){}
@media(min-width:768px) and (max-width:991px){}
@media(min-width:992px) and (max-width:1199px){
  
}
@media (max-width:1199px) {
    .mb-50 {
        margin-bottom: 30px;
    }
}
/*Style chung */


/* Button  */

.btn-bg-homepage a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background: #E76088;
    padding: 14px 30px;
    border-radius: 10px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
}
.btn-bg-homepage a:hover {
    background: #e34c79;
}
@media (max-width:575px){
    .btn-bg-homepage a {
        padding: 13px 30px;
    }
}





