
/* Topbar*/
.header-topbar-Kito{
    height: 40px;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 8;
    background: #FEF3F6;
}
.layout-header-topbar-Kito {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.discout-note p {
    color: #C81B10;
    font-size: 15px;
    line-height: 26px;
}
.txt-gt p {
    color: #1A1114;
    opacity: .7;
    font-size: 15px;
    line-height: 26px;
}
.inner-header-topbar-Kito{
    display: flex;
    height: 100%; 
    position: relative;
    left: 15px;
}

.select-part-header{
    position: relative;
    padding-right: 30px;
}
.select-part-header:before {
    content: '';
    position: absolute;
    top: 9px;
    right: 15px;
    background: #1A1114;
    opacity: .1;
    width: 1px;
    height: 20px;
}
.select-part-header .appear-els{
    display: flex;
    align-items: center;
    height: 100%;
    background-color: transparent;
    transition: 0.2s;
    padding: 0px 5px;
    cursor: pointer;
}

.select-part-header .appear-els .text{
    min-width: 31px;
    flex: 1;
}

.select-part-header .appear-els .text .name-crc{
    margin-left:4px;
}
.select-part-header .appear-els .icon-after {
    width: 15px;
    margin-left: 5px;
}
 
.select-part-header .appear-els.active{
    background: rgba(236,128,160,.05);
}
.select-part-header:last-child {
    padding: 0;
}

.select-part-header:last-child:Before {
    display: none;
}
.select-part-header:hover .appear-els .text, 
.select-part-header .appear-els.active .text{
    color: var(--primary-color-web);
}

.select-part-header:hover .appear-els .icon-after svg path{
    fill: var(--primary-color-web);
}
/*popup chọn ở header*/
.select-part-header .popup-select-list{
    background: white;
    padding: 4px 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0px 0px 30px rgba(0,0,0,0.1);
    position: absolute;
    width: 90px;
    top: 40px;
    z-index: -1;
    transform: translateY(-10px);
    opacity: 0;
    visibility: hidden;
}

.select-part-header .popup-select-list.active{
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.item-select-Kito {
    border-radius: 4px;
    padding: 8px 8px;
    margin: 4px 0px;
    position: relative;
    transition: 0.2s;
    cursor: pointer;
    
}
.item-select-Kito:hover{
    background: rgba(236, 128, 160, .15);
    color: #ec80a0;
}
.item-select-Kito.active{
    font-weight: 600;
}

.item-select-Kito.active::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
    background: #ec80a0;
}
.item-select-Kito.active:hover{
    background: none;
    color: inherit;
}
/*End popup chọn ở Topbar*/
@media(max-width:991px){
    .header-topbar-Kito {
        display: none;
    }
  
}
/* End Header*/

/* Menu header */
.menu-hoz-main-Kito {
    position: fixed;
    left: 0px;
    top: 40px;
    background: #FFFFFF;
    box-shadow: 0px 2px 20px rgba(26, 17, 20, 0.1);
    width: 100%;
    height: 110px;
    z-index: 7;
    transition: all .4s;
}
.menu-hoz-main-Kito.scroll {
    height: 80px;
}
.layout-menu-hoz-main {
    display: flex;
    align-items: center;
    position: relative;
    height: 100%;
}

.nav-list-menu {
    flex: 1;
    display: flex;
    align-items: center;
    grid-column-gap: 40px;
}

.logo-header {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 120px;
    text-align: center;
}

.item-nav .appear-els {
    display: flex;
    align-items: center;
}

.item-nav .appear-els .text {
    color: #000000;
    transition: all .3s;
    font-weight: 700;
    font-size: 15px;
    line-height: 26px;
}

.icon-arrow-menu {
    margin-left: 5px;
    width: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 1px;
}

.item-nav .appear-els:hover .text {
    color: #EC80A0;
}

.icon-arrow-menu svg path {
    transition: all .3s;
}

.item-nav .appear-els:hover .icon-arrow-menu svg path {
    fill:#EC80A0;
}

.box-search-header {
    display: flex;
    align-items: center;
    grid-column-gap: 30px;
}

.block-order-search {
    position: relative;
    cursor: pointer;
}

.number-check {
    position: absolute;
    bottom: -8px;
    right: -6px;
    background: #1A1114;
    border: 1px solid #fff;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: #fff;
    font-size: 10px;
    font-weight: 600;
}

.block-heart-search {
    position: relative;
    cursor: pointer;
}

.block-search {
    cursor: pointer;
}

.logo-header a {
    display: flex;
    align-items: center;
}
.nav-menu {
    display: none;
}

@media (max-width:991px){
    .menu-hoz-main-Kito {
        top: 0;
        height: 75px;
    }
    .menu-hoz-main-Kito.scroll {
        height: 75px;
    }
    .nav-list-menu {
        display: none;
    }
    .logo-header {
        width: 65px;
        position: relative;
        text-align: left;
        margin-left: 0;
    }
    .box-search-header {
        grid-column-gap: 20px;
    }
    .nav-menu {
        display: block;
    }
    .icon-menu-mb {
        position: relative;
        top: -1px;
        z-index: 1;
        margin-left: 20px;
    }
    .menu-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        transition: all 0.8s ease-in-out;
        margin-right: 0;
        margin-left: auto;
    }
    .wp-menu-mb-js {
        position: fixed;
        top: 0;
        width: 400px;
        left: 0;
        background: #fff;
        z-index: 8;
        -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
        transform: translateX(-100%);
        -webkit-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 0;
        visibility: hidden;
        display: block;
        height: 100vh;
    }
    .wp-menu-mb-js.open-menu-mb {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
        visibility: visible;
        opacity: 1;
    }
    .box-menu-home-page {
        overflow-x: hidden;
        overflow-y: scroll;
        height: 100vh;
    }
    .box-menu-home-page .nav-list-menu {
        display: block;
    }
    .header-menu-mb .txt-menu {
        color: #1A1114;
        font-weight: 700;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .header-menu-mb {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 15px 0;
        position: relative;
        border-bottom: 1px solid #e4e4e4;
    }
    .close-menu-mb {
        margin-left: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        position: absolute;
        right: 0;
        width: 44px;
        height: 40px;
        line-height: 40px;
    }
    .close-menu-mb svg {
        width: 14px;
    }
    .box-menu-home-page .item-nav {
        display: block;
        transition: all 0.3s;
        background: transparent;
        position: relative;
    }
    .box-menu-home-page .item-nav .appear-els{
        padding: 12px 15px;
        border-bottom: 1px solid #e4e4e4;
    }
    .bg-menu-js {
        background: #000;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 5;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s;
    }
    .bg-menu-js.active {
        opacity: .8;
        visibility: visible;
    }
}
@media(max-width:575px){
    .wp-menu-mb-js {
        width: 85%;
    }
}


/* End Menu header */

/* Footer*/
.footer-Kito{
    padding-top: 116px;
}
.inner-foooter-Kito{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 76px;
}

.info-contact-footer .logo-brand-footer a{
    width: 240px;
    display: block;
}
.wp-contact-footer .item-contact{
    display: flex;
    margin-bottom: 20px;
    align-items: flex-start;
}
.wp-contact-footer .item-contact:last-child {
    margin: 0;
}
.wp-contact-footer .item-contact .icon{
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    margin-top: 5px;
}
.wp-contact-footer .item-contact .text {
    flex: 1;
    margin-left: 20px;
    max-width: 190px;
}
.wp-contact-footer .item-contact:hover .text{
    text-decoration: underline;
}
.block-nav-footer .list-nav-footer{
    display: flex;
    flex-direction: column;
}
.block-nav-footer .nav-foo{
    margin-bottom: 20px;
    font-weight: 400;
    display: inline-flex;
    align-items: center;
    transition:all .3s;
}
.block-nav-footer .nav-foo:last-child{
    margin-bottom: 0;
}
.block-nav-footer .nav-foo .icon {
    width: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -5px;
    margin-right: 19px;
}
.block-nav-footer .nav-foo .txt{
    font-weight: 400;
    transition:all .3s;
}
.block-nav-footer .nav-foo:hover .txt{
    text-decoration: underline;
}
.block-copyRight {
    text-align: center;
    border-top: 1px solid rgb(26 17 20 / 10%);
    padding: 27px 0;
}
.block-copyRight .txt {
    line-height: 26px;
}
.block-get-info {
    display: flex;
    align-items: center;
    padding-bottom: 76px;
    margin-bottom: 72px;
    border-bottom: 1px solid rgba(26, 17, 20, .1);
}
.logo-brand-footer {
    width: 130px;
}
.logo-brand-footer a {
    display: inline-block;
}
.deal-info-form {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.deal-info-form .text {
    font-size: 15px;
    line-height: 22px;
    font-weight: 700;
    width: 210px;
    margin-right: 31px;
}

.form-fill-email {
    display: flex;
    align-items: center;
    width: 496px;
}

.appear-els {

    position: relative;
}

.btn-subcribe {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 166px;
    height: 50px;
    background: var(--primary-color-pink);
    outline: none;
    border: none;
    border-radius: 0 10px 10px 0;
    transition: all .3s;
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.btn-subcribe:hover {
    background: #d97592;
}
.form-fill-email .appear-els {
    height: 50px;
   
    flex: 1;
}
.form-fill-email .appear-els input {
    width: 100%;
    height: 100%;
    border: 1px solid #EC80A0;
    border-right: 0;
    border-radius: 10px 0 0 10px;
    transition: all .3s;
    padding-left: 42px;
    padding-right: 10px;
    font-weight: 500;
}
.form-fill-email .appear-els .icon {
    position: absolute;
    top: 13px;
    left: 18px;
}
.form-fill-email .appear-els input::placeholder {
    color: #1A1114;
    opacity: .7;
    font-weight:400;
}
.block-nav-footer .title-bold-exLarge {
    margin-bottom: 39px;
}
@media(max-width:575px){
    .footer-Kito {
        padding-top:60px;
    }
    .block-get-info {
        display: block;
        text-align: center;
        border: none;
        margin-bottom: 40px;
        padding: 0;
    }
    .inner-foooter-Kito {
        grid-template-columns: 1fr;
        margin-bottom: 40px;
    }
    .logo-brand-footer {
        width: 65px;
        height: 55px;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 30px;
    }
    .deal-info-form .text {
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .form-fill-email {
        width: 100%;
    }
    .btn-subcribe {
        width: 146px;
    }
    .block-nav-footer .title-bold-exLarge {
        margin-bottom: 20px;
    }
    .wp-contact-footer .item-contact .text {
        margin-left: 15px;
    }
    .block-copyRight {
        padding: 15px 0;
    }
    .deal-info-form {
        display: block;
    }
}
@media (min-width:576px) and (max-width:767px){
    .logo-brand-footer {
        margin-bottom: 30px;
    }
    .deal-info-form .text {
        width: 100%;
        margin: 0;
        margin-bottom: 12px;
    }
    .form-fill-email {
        width: 100%;
    }
    .btn-subcribe {
        width: 146px;
    }
    .inner-foooter-Kito {
        gap: 20px;
        margin-bottom: 50px;
        grid-template-columns: repeat(2, 1fr);
    }
    .block-get-info {
        padding-bottom: 40px;
        margin-bottom: 40px;
        display: block;
    }
    .footer-Kito {
        padding-top: 80px;
    }
    .deal-info-form {
        display: block;
    }
}
@media(min-width:768px) and (max-width:991px){
    .form-fill-email {
        flex: 1;
    }
    .btn-subcribe {
        width: 140px;
    }
    .inner-foooter-Kito {
        gap: 20px;
        margin-bottom: 50px;
        grid-template-columns: repeat(2, 1fr);
    }
    .block-get-info {
        padding-bottom: 40px;
        margin-bottom: 40px;
        display: block;
    }
    .footer-Kito {
        padding-top: 80px;
    }
    
    .logo-brand-footer {
        margin-bottom: 20px;
    }
    
    .deal-info-form {
        justify-content: flex-start;
    }
}

@media(min-width:992px) and (max-width:1199px){
    .form-fill-email {
        width: 450px;
    }
    .btn-subcribe {
        width: 140px;
    }
    .inner-foooter-Kito {
        gap: 20px;
        margin-bottom: 50px;
    }
    .block-get-info {
        padding-bottom: 50px;
        margin-bottom: 50px;
    }
    .footer-Kito {
        padding-top: 80px;
    }
}

/* End Responsive Footer*/
/* End Footer*/