.wp-content-homepage-Kito {
    padding-top: 250px;
}
@media(max-width:575px){}
@media(min-width:576px) and (max-width:767px){}
@media(min-width:768px) and (max-width:991px){}
@media (max-width:991px){
    .wp-content-homepage-Kito {
        padding-top: 135px;
    }
}
@media(min-width:992px) and (max-width:1599px){
    .wp-content-homepage-Kito {
        padding-top: 210px;
    }
}
/* Block About */
.block-about-us-homepage .title-block {
    margin-bottom: 15px;
}

.tab-category-breadcrum {
    display: flex;
    align-items: center;
    margin-bottom: 70px;
}

.imt-tab-breadcrum {
    padding-right: 30px;
    position: relative;
}
.imt-tab-breadcrum:last-child {
    padding-right: 0;
}
.imt-tab-breadcrum .txt-tab {
    color: #1A1114;
    opacity: .5;
    font-size: 15px;
    line-height: 26px;
    transition: all .3s;
}

.imt-tab-breadcrum.active .txt-tab {
    opacity: 1;
}

.imt-tab-breadcrum:before {
    content: '';
    position: absolute;
    top: 6px;
    right: 15px;
    background: #D1CFD0;
    width: 1px;
    height: 15px;
}

.imt-tab-breadcrum:last-child:before {
    display: none;
}

.imt-tab-breadcrum .txt-tab:hover {
    opacity: 1;
}

.main-about-us-homepage {
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 600px;
}

.label-box {
    background: rgb(236 128 160 / 15%);
    display: inline-flex;
    align-items: center;
    padding: 7px 15px;
    color: #EC80A0;
    font-size: 15px;
    font-weight: 700;
    min-width: 106px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.main-about-us-homepage .box-content {
    background: #E5F8FD;
    padding: 112px 90px;
    padding-right: 62px;
}

.main-about-us-homepage .box-content .title-bold-exBig {
    margin-bottom: 40px;
    text-transform: capitalize;
}

.main-about-us-homepage .box-content .layout-btn {
    background: #EC80A0;
}

.main-about-us-homepage .box-content .layout-btn:hover {
    background: #E76088;
}

.box-video {
    position: relative;
    cursor: pointer;
}

.box-video .box-video__picture {
    width: 100%;
    height:100%;
    transition:all .3s;
    position:relative;
}
.iframe-video-ytb {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
}
.iframe-video-ytb iframe {
    width: 100%;
    height: 100%;
}
.box-video .box-video__picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.box-video__icon {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 90px;
    height: 90px;
    margin: auto;
    transform: scale(1);
    transition: all .4s;
    pointer-events: none;

}
.box-video.open-video .box-video__picture {opacity: 0;}

.box-video.open-video .box-video__icon {
    opacity: 0;
    visibility: hidden;
}

.box-video.open-video .iframe-video-ytb {
    opacity: 1;
    visibility: visible;
}
.box-video__picture:Before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
}
.box-video__picture:hover:before {
    opacity: 0.15;
    visibility: visible;
}
.block-about-us-homepage {
    padding-bottom: 100px;
}
.box-video:hover .box-video__icon {
    transform: scale(1.12);
}
@media(max-width:575px){
    .main-about-us-homepage {
        flex-direction: column-reverse;
        display: flex;
        min-height: auto;
    }
    .box-video {
        height: 364px;
    }
    .box-video__icon {
        width: 50px;
        height: 50px;
    }
    .main-about-us-homepage .box-content {
        padding: 60px 40px;
        text-align: center;
    }
    .main-about-us-homepage .box-content .title-bold-exBig {
        margin-bottom: 30px;
        font-size: 30px;
        line-height: 40px;
        text-align: center;
    }
    .label-box {
        margin-bottom: 15px;
        height: 36px;
        line-height: 22px;
    }
    .tab-category-breadcrum {
        margin-bottom: 50px;
        justify-content: center;
    }
    .block-about-us-homepage .title-block .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
    }
    .block-about-us-homepage .title-block {
        margin-bottom: 10px;
        padding: 0 20px;
        text-align: center;
    }
    .main-about-us-homepage .box-content .layout-btn {
        height: 48px;
        min-width: 183px;
        background: #E76088;
    }
    .block-about-us-homepage {
        padding-bottom: 76px;
    }
    
    .block-about-us-homepage .container {
        padding: 0;
    }
    .main-about-us-homepage .box-content .btn-bg-homepage {
        text-align: center;
    }
}
@media(min-width:576px) and (max-width:767px){
    .main-about-us-homepage {
        flex-direction: column-reverse;
        display: flex;
        min-height: auto;
    }
    .box-video {
        height: 350px;
    }
    .box-video__icon {
        width: 70px;
        height: 70px;
    }
    .main-about-us-homepage .box-content {
        padding: 40px;
    }
    .main-about-us-homepage .box-content .title-bold-exBig {
        margin-bottom: 30px;
        font-size: 36px;
        line-height: 47px;
    }
    .label-box {
        margin-bottom: 15px;
    }
    .tab-category-breadcrum {
        margin-bottom: 50px;
    }
    .block-about-us-homepage .title-block .title-bold-exBig {
        font-size: 42px;
        line-height: 56px;
    }
    .block-about-us-homepage .title-block {
        margin-bottom: 10px;
    }
    .main-about-us-homepage .box-content .layout-btn {
        height: 48px;
        min-width: 183px;
    }
    .block-about-us-homepage {
        padding-bottom: 70px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .main-about-us-homepage .box-content {
        padding: 50px;
    }
    .tab-category-breadcrum {
        margin-bottom: 50px;
    }
    .main-about-us-homepage .box-content {
        padding: 32px;
    }
    .tab-category-breadcrum {
        margin-bottom: 40px;
    }
    .main-about-us-homepage .box-content .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
    }
    .main-about-us-homepage {
        min-height: 450px;
    }
    .box-video__icon {
        width: 70px;
        height: 70px;
    }
    .block-about-us-homepage {
        padding-bottom: 70px;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .main-about-us-homepage .box-content {
        padding: 50px;
    }
    .tab-category-breadcrum {
        margin-bottom: 50px;
    }
    .main-about-us-homepage .box-content {
        padding: 32px;
    }
    .tab-category-breadcrum {
        margin-bottom: 40px;
    }
    .main-about-us-homepage .box-content .title-bold-exBig {
        font-size: 42px;
        line-height: 55px;
    }
    .main-about-us-homepage {
        min-height: 550px;
    }
    .box-video__icon {
        width: 70px;
        height: 70px;
    }
    .block-about-us-homepage {
        padding-bottom: 80px;
    }
}
@media(min-width:1200px) and (max-width:1399px){
    .main-about-us-homepage .box-content {
        padding: 50px;
    }
    .tab-category-breadcrum {
        margin-bottom: 50px;
    }
    .main-about-us-homepage .box-content {
        padding: 40px;
    }
    .tab-category-breadcrum {
        margin-bottom: 50px;
    }
    .main-about-us-homepage .box-content .title-bold-exBig {
        font-size: 46px;
    }
    .main-about-us-homepage {
        min-height: 550px;
    }
    .box-video__icon {
        width: 80px;
        height: 80px;
    }
}
@media(min-width:1400px) and (max-width:1599px){
    .tab-category-breadcrum {
        margin-bottom: 50px;
    }
}
/* End Block About */
/* Block Thống kê */
.main-statistical-homepage {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.imt-statistical {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(10, 30, 35, 0.1);
    border-radius: 10px;
    padding: 40px 30px;
    text-align: center;
}
.imt-statistical .number {
    font-size: 42px;
    line-height: 55px;
    font-weight: 700;
    margin-bottom: 20px;
    color: var(--primary-color-pink);
}
.imt-statistical .content .title-bold-exLarge {
    margin-bottom: 10px;
    font-family: 'Barlow';
}
.imt-statistical .content .text-small {
    color: var(--primary-color-text-small);
    font-size: 15px;
    line-height: 26px;
}
.block-statistical-homepage {
    padding-bottom: 100px;
}
@media(max-width:575px){
    .main-statistical-homepage {
        grid-template-columns: 1fr;
        grid-gap: 20px;
    }
    .imt-statistical {
        padding: 30px;
    }
    .imt-statistical .number {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 15px;
    }
    .block-statistical-homepage .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
    }
    .block-statistical-homepage {
        padding-bottom: 60px;
    }
}
@media(min-width:576px) and (max-width:767px){
    .imt-statistical .number {
        font-size: 37px;
    }
    .block-statistical-homepage .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
    }
}
@media(min-width:576px) and (max-width:991px){
    .main-statistical-homepage {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .imt-statistical {
        padding: 20px 15px;
    }
    .block-statistical-homepage {
        padding-bottom: 80px;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .main-statistical-homepage {
        grid-gap: 20px;
    }
    .imt-statistical {
        padding: 20px 15px;
    }
    .block-statistical-homepage {
        padding-bottom: 80px;
    }
    .imt-statistical .number {
        font-size: 37px;
    }
}
@media(min-width:1200px) and (max-width:1399px){
    .main-statistical-homepage {
        grid-gap: 20px;
    }
    .imt-statistical {
        padding: 30px;
    }
}

/* End Block Thống kê */
/* Block Prd */
.block-prd-homepage {
    padding-bottom: 100px;
}

.layout-block-prd {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    grid-gap: 30px;
}
.imt-prd .picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 20px;
}
.imt-prd.imt-prd-small .picture {
    height: 550px;
    width: 100%;
}

.imt-prd.imt-prd-big .picture {
    height: 675px;
    width: 100%;
}
.box-text-prd {
    min-height: 550px;
    background: #FDF4F7;
    border-radius: 20px;
    padding: 88px 41px;
    text-align: center;
}

.box-text-prd .title-bold-exBig {
    margin-bottom: 40px;
}
.box-text-prd .btn-bg-homepage a {
    min-width: 183px;
}
.box-text-prd .content p {
    color: var(--primary-color-text-small);
    font-size: 15px;
    line-height: 26px;
}

.box-text-prd .content {
    margin-bottom: 40px;
}
@media(max-width:575px){
    .box-text-prd .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 20px;
    }
    .layout-block-prd {
        grid-gap: 14px;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 20px;
    }
    .box-text-prd {
        padding: 30px 20px;
        min-height: auto;
    }
    .imt-prd.imt-prd-small .picture {
        height: 230px;
    }
    .imt-prd.imt-prd-big .picture {
        height: 280px;
    }
    .box-text-prd .content {
        margin-bottom: 20px;
    }
    .block-prd-homepage {
        padding-bottom: 60px;
    }
    .imt-prd.imt-prd-content {
        grid-column: 1/3;
    }
}
@media(min-width:576px) and (max-width:767px){
    .box-text-prd .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 20px;
    }
    .layout-block-prd {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .box-text-prd {
        padding: 30px;
        min-height: auto;
    }
    .imt-prd.imt-prd-small .picture {
        height: 310px;
    }
    .imt-prd.imt-prd-big .picture {
        height: 380px;
    }
    .box-text-prd .content {
        margin-bottom: 20px;
    }
    .block-prd-homepage {
        padding-bottom: 60px;
    }
    .imt-prd.imt-prd-content {
        grid-column: 1/3;
    }
}
@media(min-width:768px) and (max-width:991px){
    .box-text-prd .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 20px;
    }
    .layout-block-prd {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .box-text-prd {
        padding: 40px 50px;
        min-height: auto;
    }
    .imt-prd.imt-prd-small .picture {
        height: 413px;
    }
    .imt-prd.imt-prd-big .picture {
        height: 507px;
    }
    .box-text-prd .content {
        margin-bottom: 20px;
    }
    .block-prd-homepage {
        padding-bottom: 70px;
    }
    
    .imt-prd.imt-prd-content {
        grid-column: 1/3;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .box-text-prd .title-bold-exBig {
        font-size: 36px;
        line-height: 47px;
        margin-bottom: 20px;
    }
    .layout-block-prd {
        grid-gap: 20px;
    }
    .box-text-prd {
        padding: 20px 25px;
        min-height: 366px;
    }
    .imt-prd.imt-prd-small .picture {
        height: 366px;
    }
    .imt-prd.imt-prd-big .picture {
        height: 450px;
    }
    .box-text-prd .content {
        margin-bottom: 20px;
    }
    .block-prd-homepage {
        padding-bottom: 70px;
    }
}
@media(min-width:1200px) and (max-width:1399px){
    .box-text-prd .title-bold-exBig {
        font-size: 46px;
        line-height: 1.4;
    }
    .layout-block-prd {
        grid-gap: 20px;
    }
    .box-text-prd {
        padding: 60px 25px;
    }
}
@media(min-width:1400px) and (max-width:1599px){
    .box-text-prd {
        padding: 60px 28px;
    }
}

/* End Block Prd */
/* Block OurTeam */
.grid-imt-our-team {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 30px;
}
.imt-our-team {
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(10, 30, 35, 0.1);
    border-radius: 10px;
    padding: 40px 30px 30px 30px;
    transition:all .4s;
}
.imt-our-team:hover {
    transform: translateY(-10px);
}
.imt-our-team .avatar {
    width: 130px;
    height: 130px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 25px;
}

.imt-our-team .avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.imt-our-team .content-main {
    text-align: center;
}

.title-profile .title-bold-exLarge {
    margin-bottom: 5px;
    font-family: 'Barlow';
}
.block-our-team {
    padding-bottom: 102px;
}

.title-profile .txt-small {
    font-size: 15px;
    line-height: 26px;
}

.title-profile {
    margin-bottom: 17px;
}

.content-profile p {
    color: var(--primary-color-text-small);
    font-size: 15px;
    line-height: 26px;
}

.content-profile {
    margin-bottom: 8px;
}

.lst-imt-mxh {
    display: flex;
    align-items: center;
    justify-content: center;
}

.imt-mxh {
    transform: translateY(0);
    transition: all .3s;
}

.imt-mxh:hover {transform: translateY(-4px);}
@media(max-width:575px){
    .block-our-team {
        padding: 0;
    }
    .grid-imt-our-team {
        grid-gap: 20px;
        grid-template-columns: 1fr;
    }
}
@media(min-width:576px) and (max-width:767px){
    .imt-our-team {
        padding: 16px;
    }
    .grid-imt-our-team {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .block-our-team {
        padding-bottom: 70px;
    }
}
@media(min-width:768px) and (max-width:991px){
    .imt-our-team {
        padding: 25px;
    }
    .grid-imt-our-team {
        grid-gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }
    .block-our-team {
        padding-bottom: 70px;
    }
}
@media(min-width:992px) and (max-width:1199px){
    .block-our-team {
        padding-bottom: 70px;
    }
}
@media(min-width:992px) and (max-width:1399px){
    .imt-our-team {
        padding: 20px;
    }
    .grid-imt-our-team {
        grid-gap: 20px;
    }
    .block-our-team {
        padding-bottom: 70px;
    }
}
/* End Block OurTeam */

/* Block Ưu đãi */
.layout-imt-endow {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 321px 315px 274px;
    justify-content: space-between;
    border: 1px solid rgb(26 17 20 / 10%);
    padding: 50px 70px 45px 70px;
    border-radius: 10px;
}

.imt-endow {
    display: flex;
    align-items: center;
}

.imt-endow .icon {
    width: 60px;
}

.imt-endow .content {
    flex: 1;
    margin-left: 20px;
}

.imt-endow .content .txt-small {
    font-size: 15px;
    color: #585D67;
    line-height: 26px;
}

.imt-endow .content .title-bold-exLarge {
    margin-bottom: 5px;
}
@media(max-width:575px){
    .layout-imt-endow {
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        padding: 20px;
    }
    .imt-endow .content .title-bold-exLarge {
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
    }
  
    .block-endow-homepage {
        display: none;
    }
}
@media(min-width:576px) and (max-width:767px){
    .layout-imt-endow {
        grid-template-columns: 1fr;
        grid-column-gap: 20px;
        padding: 20px;
    }
    .imt-endow .content .title-bold-exLarge {
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
    }

}
@media(min-width:768px) and (max-width:991px){
    .layout-imt-endow {
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 20px;
        padding: 20px;
    }
    .imt-endow .content .title-bold-exLarge {
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
    }

}
@media(min-width:992px) and (max-width:1199px){
    .layout-imt-endow {
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 20px;
        padding: 20px;
    }
    .imt-endow .content .title-bold-exLarge {
        margin: 0;
        font-size: 20px;
        line-height: 1.3;
    }
    .imt-endow .icon {
        width: 50px;
    }
    .imt-endow .content .txt-small {
        line-height: 1.3;
    }
}
@media(min-width:1200px) and (max-width:1399px){
    .layout-imt-endow {
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 30px;
        padding: 40px;
    }
    .imt-endow .content .title-bold-exLarge {
        margin: 0;
    }
}
/* End Block Ưu đãi */